<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/sys/view/view.css">
</head>
<body>
<div class="container-fluid">
    <div class="row title-box" style="''">
        <div class="title-text text-center">高校体测数据大屏</div>
    </div>
    <div class="row text-center tip-box">
        <img style="width: 20px" src="/img/点击.png">(学生运动详情)
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 info-region" width="100%" height="225">
            <div class="info-region-title text-center">
                用户活跃情况
            </div>
            <div class="info-region-content">
                <div class="text-center info-region-content-title">日活跃用户 <span>123456</span> 人</div>
                <div id="box1" style="width: 50%;height:250px; float: left">
                </div>
                <div id="box2" style="width: 50%;height:250px; float: left; ">
                </div>
            </div>
            <div class="info-region-content">
                <div class="text-center info-region-content-title">月活跃用户 <span>123456</span> 人</div>
                <div id="box3" style="width: 50%;height:250px; float: left">
                </div>
                <div id="box4" style="width: 50%;height:250px; float: left; ">
                </div>
            </div>
            <div class="info-region-content">
                <div id="box5" style="width: 50%;height:250px; float: left">
                </div>
                <div id="box6" style="width: 50%;height:250px; float: left; ">
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 info-region" width="100%" height="225" style="border-top: 2px solid red">
            <div style="height: 150px">
                <div class="col-md-6 col-sm-6 text-center info-region-subtitle">签约高校数量<br>
                    <span class="num-blue">1234</span>所
                </div>
                <div class="col-md-6 col-sm-6 text-center info-region-subtitle">注册用户数<br>
                    <span class="num-blue">1234</span>人
                </div>
                <div class="col-md-6 col-sm-6 text-center info-region-subtitle">使用体测系统高校数<br>
                    <span class="num-blue">1234</span>所
                </div>
                <div class="col-md-6 col-sm-6 text-center info-region-subtitle">参与体测人数<br>
                    <span class="num-blue">1234</span>人
                </div>
            </div>
            <div id="box" style="width: 100%;height: 600px"></div>
        </div>
        <div class="col-md-4 col-sm-12 info-region" width="100%" height="225">
            <div class="info-region-title text-center">
                一学期学生运动情况
            </div>
            <div class="info-region-content">
                <div class="text-center info-region-content-title">日活跃用户 <span>123456</span> 人</div>
                <div id="box7" style="width: 50%;height:250px; float: left">
                </div>
                <div id="box8" style="width: 50%;height:250px; float: left; ">
                </div>
            </div>
            <div class="info-region-content">
                <div class="text-center info-region-content-title">月活跃用户 <span>123456</span> 人</div>
                <div id="box9" style="width: 50%;height:250px; float: left">
                </div>
                <div id="box10" style="width: 50%;height:250px; float: left; ">
                </div>
            </div>
            <div class="info-region-content">
                <div id="box11" style="width: 50%;height:250px; float: left">
                </div>
                <div id="box12" style="width: 50%;height:250px; float: left; ">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/echarts/echarts.min.js" type="text/javascript"></script>
<script src="/js/sys/view/view.js" type="text/javascript"></script>
</html>